{% load static %}
<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <link href="https://cdn.theme.iastate.edu/nimbus-sans/css/nimbus-sans.css" rel="stylesheet">
    <link href="https://cdn.theme.iastate.edu/merriweather/css/merriweather.css" rel="stylesheet">
    <link href="https://cdn.theme.iastate.edu/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- <link href="css/iastate.legacy.min.css" rel="stylesheet"> // Include if your content requires legacy IASTATE theme CSS -->
    <link href="css/iastate.min.css" rel="stylesheet">
    <!-- <link href="css/site.css" rel="stylesheet" media="all"> // Site-specific CSS and theme overrides -->
    <link href="https://cdn.theme.iastate.edu/favicon/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://cdn.theme.iastate.edu/favicon/favicon.png" rel="icon" type="">
    <link href="https://cdn.theme.iastate.edu/favicon/apple-touch-icon.png" rel="icon">
    <title>
      {% block title %}{% endblock %}
    </title>

    <script src="{% static 'js/iastate.js' %}"></script> <!-- This is how to include a static file -->
    <link rel="stylesheet" href="{% static 'css/iastate.css' %}" type="text/css" />



</head>


<body class="">


<!-- header -->
<header>

<!-- navbar-iastate -->
<nav class="navbar-iastate">
	<div class="container">

		<!-- navbar-iastate-left -->
		<ul class="nav navbar-nav navbar-iastate-left">
			<li><a href='http://www.iastate.edu'>iastate.edu</a></li>
			<li class="dropdown dropdown-hover isu-index">
				<a href="http://www.iastate.edu/index/A" class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">Index</a>
				<ul class="dropdown-menu isu-index-alpha">
					<li><a href="http://www.iastate.edu/index/A/">A</a></li>
					<li><a href="http://www.iastate.edu/index/B/">B</a></li>
					<li><a href="http://www.iastate.edu/index/C/">C</a></li>
					<li><a href="http://www.iastate.edu/index/D/">D</a></li>
					<li><a href="http://www.iastate.edu/index/E/">E</a></li>
					<li><a href="http://www.iastate.edu/index/F/">F</a></li>
					<li><a href="http://www.iastate.edu/index/G/">G</a></li>
					<li><a href="http://www.iastate.edu/index/H/">H</a></li>
					<li><a href="http://www.iastate.edu/index/I/">I</a></li>
					<li><a href="http://www.iastate.edu/index/J/">J</a></li>
					<li><a href="http://www.iastate.edu/index/K/">K</a></li>
					<li><a href="http://www.iastate.edu/index/L/">L</a></li>
					<li><a href="http://www.iastate.edu/index/M/">M</a></li>
					<li><a href="http://www.iastate.edu/index/N/">N</a></li>
					<li><a href="http://www.iastate.edu/index/O/">O</a></li>
					<li><a href="http://www.iastate.edu/index/P/">P</a></li>
					<li><a href="http://www.iastate.edu/index/Q/">Q</a></li>
					<li><a href="http://www.iastate.edu/index/R/">R</a></li>
					<li><a href="http://www.iastate.edu/index/S/">S</a></li>
					<li><a href="http://www.iastate.edu/index/T/">T</a></li>
					<li><a href="http://www.iastate.edu/index/U/">U</a></li>
					<li><a href="http://www.iastate.edu/index/V/">V</a></li>
					<li><a href="http://www.iastate.edu/index/W/">W</a></li>
					<li><a href="http://www.iastate.edu/index/X/">X</a></li>
					<li><a href="http://www.iastate.edu/index/Y/">Y</a></li>
					<li><a href="http://www.iastate.edu/index/Z/">Z</a></li>
				</ul>
			</li>
		</ul>
		<!-- /navbar-iastate-left -->

		<!-- navbar-iastate-right -->
		<ul class="nav navbar-nav navbar-right navbar-iastate-right">
			<li><a href="http://info.iastate.edu/">Directory</a></li>
			<li><a href="http://www.fpm.iastate.edu/maps/">Maps</a></li>
			<li><a href="http://web.iastate.edu/safety/">Safety</a></li>
			<li class="dropdown dropdown-hover">
				<a href="//web.iastate.edu/signons/" class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">Sign Ons</a>
				<ul class="dropdown-menu">
					<li><a href="http://accessplus.iastate.edu/">AccessPlus</a></li>
					<li><a href="http://bb.its.iastate.edu/">Blackboard</a></li>
					<li><a href="http://iastate.box.com/">CyBox</a></li>
					<li><a href="http://cymail.iastate.edu/">CyMail</a></li>
					<li><a href="http://outlook.iastate.edu/">Outlook</a></li>
					<li><a href="https://web.iastate.edu/signons/">More Sign Ons...</a></li>
				</ul>
			</li>
		</ul>
		<!-- /navbar-iastate-right -->

	</div>
</nav>
<!-- /navbar-iastate -->

<!-- navbar-site -->
<nav class="navbar-site">
	<div class="container">

		<div class="navbar-site-wordmark">
			<a href="/" title="Home" class="wordmark-unit">
				<span class="wordmark-isu">Iowa State University</span>
				<span class="wordmark-unit-title">GeAt Seminar Calendar</span>
			</a>
		</div>

		<div class="navbar-header visible-xs visible-sm">
			<button id="navbar-menu-button" type="button" class="navbar-toggle navbar-toggle-left collapsed" data-toggle="collapse" data-target="#navbar-menu-collapse, #navbar-site-links-collapse" aria-expanded="false">
				<span class="navbar-toggle-icon menu-icon">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
				<span class="navbar-toggle-label">
					Menu <span class="sr-only">Toggle</span>
				</span>
			</button>

		</div>



	</div>
</nav>
<!-- /navbar-site -->

</header>
<!-- /header -->

<!-- navs -->
<div id="navs">


</div>
<!-- /navs -->

<!-- post-nav -->
<div id="post-nav">
<!-- Place content here that you want displayed below navigation and above content. This is a great place to put banners, jumbotrons, carousels, and hero images. This area is not constrained by the theme "container" width, so content here can be full window width. -->
</div>
<!-- /post-nav -->


<!-- main -->
<main role="main" id="main-content">


<div class="container">
  <div class="col-xs-12">
    <div class="table-div">
      <table class="table table-striped table-condensed table-hover">

        <thead>
          <tr>
            <th>Date</th>
            <th>Speaker</th>
	    <th>Affiliation</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for e in data %}
            <tr>
              <td width="12%">{{ e.date }}</td>
              <td width="10%">{{ e.speaker }}</td>
	      <td width="20%">{{ e.affiliation }}</td>
              <td width="50%">{{ e.title }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
   </div>
 </div>
</div>



</main>
<!-- /main -->



</body>
</html>




